<header>
    <div class="container_menu">
        <app-menu-bar></app-menu-bar>
    </div>
</header>
<body>
    <div class="container_title">
        <app-title></app-title>
    </div>
    <div class="container_services">
        <app-small-card
        services="Corte"
        service_description="Corte estilizado"
        photho_service="../../assets/corte.webp"
        ></app-small-card>
        <app-small-card
        services="Luzes"
        service_description="Luzes e descoloração"
        photho_service="../../assets/luzes.jpeg"></app-small-card>
        <app-small-card
        services="Dread"
        service_description="Especialistas em dreads"
        photho_service="../../assets/dread.jpeg"></app-small-card>
        <app-small-card
        services="Skin Care"
        service_description="Cuidados com sua pele"
        photho_service="../../assets/skin_care.jpeg"></app-small-card>
    </div> 
</body>